<div class="todo-list">
    <input 
        type="text" 
        placeholder="What do you want to do?" 
        style="width: 200px;"
        @onkeypress="OnTodoInputKeyPressHandler"
        @bind-value="CurrentTodoField" 
        @bind-value:event="oninput" />

    <ul>
        @foreach (var (id, todoItem) in Items)
        {
            if(ItemTemplate is null)
            {
                <span>Please provide your template.</span>
            }
            else
            {
                @ItemTemplate(GetTodoItemTemplateData(todoItem))
            }
        }
    </ul>

</div>