<div class="todo-list">
    @if (InputTemplate is null)
    {
        <li>Please provide your template.</li>
    }
    else
    {
        @InputTemplate(new TodoItemInputTemplateData { OnSave = OnTodoInputSaveHandler })
    }

    <ul>
        @foreach (var (id, todoItem) in Items)
        {
            if (ItemTemplate is null)
            {
                <li>Please provide your template.</li>
            }
            else
            {
                @ItemTemplate(GetTodoItemTemplateData(todoItem))
            }
        }
    </ul>

    @if (FooterTemplate is null)
    {
        <span>Please provide your footer.</span>
    }
    else
    {
        @FooterTemplate(new TodoItemFooterTemplateData
        {
            OnFilterClick = OnFilterClickHandler,
            TodoItemCount = Items.Where(o => o.Value.IsDone == false).Count()
        })
    }

</div>