<li style="cursor: pointer;" @ondblclick="OnTodoItemDbClick" class="">
    @if (Item.IsEditing)
    {
        <input 
            type="text" 
            style="width: 200px;" 
            @oninput="OnTodoEditingInputHandler"
            @onkeypress="OnTodoEditingItemKeyPressHandler" 
            value="@Item.Title" />
    }
    else
    {
        <input class="checkbox-round"
            @onclick:stopPropagation="true" 
            @ondblclick:stopPropagation="true" 
            type="checkbox"
            @onchange="OnTodoItemInputCheckChanged" 
            checked="@Item.IsDone" />
        <span class="">@Item.Title</span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span class="float-right delete-button" @onclick="OnTodoItemRemove">x</span>
    }
</li>